* {
  box-sizing: border-box;
}

body {
  background: black;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}
h3 {
  margin: 0;
  font-weight: 400;
  color: rgb(132, 186, 192);
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: black;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  text-align: center;
}

.text-secondary {
  color: red;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
.about img {
  width: 15px;
  height: 15px;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: red 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: black;
  padding: 0.5rem;
  border-bottom: red 5px solid;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
}

.contact {
  background-color: #fff;
  height: 45px;
  width: 45px;
}
